<h1>Daniel's Budgets</h1> 
<p>Welcome to Daniel's Budgets! This is a
                website that allows you to create budgets and track your spending
                against them. To get started, Sign In or Sign Up!</p>

<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %>

<%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary" %>
        
