<div id="<%= dom_id deal %>" class="category-card deal-card flex flex-row">
      <h1 class="text-gray-700 deal-name"><%= deal.name %></h1>

        <span><strong>$ <%= deal.amount %></strong> </span>
      
</div>

