<div id="<%= dom_id deal %>" class="deal-card">
      <h1 class="text-gray-700 deal-name"><%= deal.name %></h1>
       <p  class="text-gray-700">
    <strong>Amount:</strong> $ 
    <%= deal.amount %>
  </p>
 

</div>

