.categories {
  margin: auto;
}

.category-card {
  border: 1px solid #f2f2f2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  margin: 10px;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.category-icon {
  border-radius: 2px 0 0 2px;
  display: flex;
  justify-content: center;
  width: 80px;
}

.deal-card {
  border: 1px solid #f2f2f2;
  box-shadow: 0 2px 2px 0 rgba(20, 20, 20, 0.1);
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  position: relative;
}

.deal-name {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.form-div {
  width: 90%;
  margin: auto;
}

.green {
  color: #5fb523;
}

.green-background {
  background-color: #5fb523;
}
